body {
	/* background: #e3e1ff; */
	color: #444;
	background: linear-gradient(271deg, #eb69cd, #eb4848);
	background-size: 400% 400%;

	-webkit-animation: AnimationName 22s ease infinite;
	animation: AnimationName 22s ease infinite;
}

@-webkit-keyframes AnimationName {
	0% {
		background-position: 0% 51%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 51%;
	}
}
@keyframes AnimationName {
	0% {
		background-position: 0% 51%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 51%;
	}
}

.container {
	width: 90%;
	max-width: 960px;
	margin: 80px auto;
	border-radius: 20px;
	box-shadow: 2px 4px 6px rgba(28, 6, 49, 0.1);
	background: white;
}
.error {
	color: #ff3f80;
	font-size: 14px;
}
button {
	text-decoration: none;
	background: #eb69cd;
	color: white;
	font-weight: bold;
	border: 0;
	border-radius: 20px;
	padding: 10px 20px;
	cursor: pointer;
}
